
body{
    background-image: url("../images/warhammer-40000.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}

header{
    margin:0;
}
#header{
    float: left;
    width: auto;
    display: block;
    margin: 0 50px;
    text-align: center;
}
#logo{
    float: right;
    width: auto;
    display: block;
    margin: 0 50px;
    text-align: center;
}
#header h1{
    text-transform: uppercase;
    margin: 0;
}
#header span{
    text-transform: uppercase;
}

#Presentacion, #todo, #Final{
    text-align: center;
    position: relative;
    float: left;
    margin: 5% 10%;
    background-color:rgba(0, 0, 0, 0.5);
    width: 80%;
}
#Presentacion #titulo h2{
    margin: 0;
    
}
#Presentacion #titulo span{
    font-size: 0.75em;
}

#Exposicion, #Master, #instrucciones, #informacion, #Despedida{
    text-align: justify;
    width: 80%;
    margin: auto;
}
#ins{
    width:20%;
    text-align: center;
    margin:auto;

}
#ins h3 a{
    text-align: center;
    text-decoration: none;
    border: solid 2px red; 
    border-radius: 0.5em;
}

#ins h3 a:link{
    color:white;
}
#ins h3 a:hover{
    background-color: red;
}
#ins h3 a:visited{
    color: white;
}

#Formulario{
    text-align: center;
    position: relative;
    float: left;
    margin: 1% 10% 5% 10%;
    text-decoration: none;
}

#pregunta1, #pregunta2, #pregunta3, #pregunta4, #pregunta5, #pregunta6, #pregunta7, #pregunta8, #pregunta9, #pregunta10{
    text-align: justify;
    width: 80%;
    margin: 0 152.250px 2% 152.34px;
    background-color:rgba(0, 0, 0, 0.5);
    
}
#pregunta1 ul, #pregunta2 ul, #pregunta3 ul, #pregunta7 ul, #pregunta9 ul, #pregunta10 ul, #personal ul, #adicional ul{
    list-style: none;

}
#pregunta2 #video{
    text-align: center;
}
footer{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin:25% 0 0 0 ;
    background-color:rgba(0, 0, 0, 0.5);
}
footer p{
    width: 30%;
    margin:0;
    display: inline-block;
}

#personal, #adicional{
    display: inline-block;
    margin: 0 5%;

}
footer #personal ul li{
    margin: 5% 0;
}
footer #adicional ul li{
    margin: 15.031px 0;
    width: 100%;

}


footer ul li a{
    text-decoration: none;
    color: aliceblue;
}
#adicional ul li a{
    border: solid 2px red;
    border-radius: 0.5em;
    padding: 5% 0;
}
#personal ul li a:hover{
    color: red;
}
#adicional ul li a:hover{
    background-color: red;
}
