
body{
    background-image: url("../images/warhammer-40000.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}

header{
    margin:0;
}
#header{
    float: left;
    width: auto;
    display: block;
    margin: 0 50px;
    text-align: center;
}
#logo{
    float: right;
    width: auto;
    display: block;
    margin: 0 50px;
    text-align: center;
}
#header h1{
    text-transform: uppercase;
    margin: 0;
}
#header span{
    text-transform: uppercase;
}
#barra{
    z-index:4;
	position: relative;
	top: 16%;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

#barra li {
    float: left;
    
}
#barra li a {
	display: block;
	padding: 16px;
	text-align: center;
}
#barra li a:link {
    color: white; 
    text-decoration: none;
}
#barra li a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
#barra li a:hover {
    color: rgb(230, 184, 173);
    background-color: #111111;
    text-decoration: none;
}
#barra li a:active {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}
#Presentacion, #todo, #Final{
    text-align: center;
    position: relative;
    float: left;
    margin: 5% 10%;
    background-color:rgba(0, 0, 0, 0.5);
    width: 80%;
}
#Presentacion #titulo h2{
    margin: 0;
    
}
#Presentacion #titulo span{
    font-size: 0.75em;
}

#Exposicion, #Master, #instrucciones, #informacion, #Despedida{
    text-align: justify;
    width: 80%;
    margin: auto;
}


#formulario{
    
    text-align: center;
    width: auto;
    text-decoration: none;
}
.pregunta{
	margin-top: 8%;
	margin-bottom: 8%;
	padding: 3%;
	border-style: solid;
	border-color: #333333;
	border-width: 2px;
	border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);

}
input[type = 'text']{	
	font-family: 'Varela Round', Arial, sans-serif;
	font-size: 1.2em;
}
.title {
	font-size: 1.1em;
}
.tit {	
	font-size: 1.14em;
}
input[type = 'checkbox']{  
    margin-top: 10%;
}
input[type = 'radio']{  
	margin-top: 10%;
}
select {
	font-family: 'Varela Round', Arial, sans-serif;
	background-color: white;
    font-size: 1.2em;
    overflow: auto;
}
#mult, #mult2 {	
    padding: 1% 1%;
}
option {
	margin-bottom: 4%;

}

#submit {
	text-align: center;
	
}
#botonSubmit {
    background-color: #229a65;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #229a65;
	border-style: solid;
    font-size: 16px;
	border-radius: 10px;
	border-color: #333333;
	border-width: 2px;
}
#botonSubmit:hover {
	background-color: #bacc51;
}
#crono {
	z-index: 6;
	position: fixed; 
    top: 1%;
    left: 60%;
    width: 21%;
    height: 6%;
	background-color:rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-color: #333333;
	border-width: 5px;
	border-radius: 10px;
	font-size: 2em;
	color:white;
}

#cronoN {
	position: absolute;
	top: 25%;
    left: 10%;
}
#nota {
    border: 0.2em;
    border-style: solid;
    border-radius: .5em;
    border-color: grey;
    top: 27%;
	left: 8%;
	width: 80%;
	min-height: 63%;	
	padding: 2%;
    margin-left: 7%;
    background-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;
	border-radius: 10px;
}
#tit {
	padding: 0.5%;
}

#video{
    width: 560;
    height: 315;
    text-align: center;
}

#pie {
	z-index: 2;
	position: fixed;
	bottom: 0;
	display: block;
	width: 100%;
	padding: 0.5%;
	background-color: #333333;
	font-size: 0.8em;
	color: white;
}