
body{
    background-image: url("../images/warhammer-40000.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}

header{
    margin:0;
}
#header{
    float: left;
    width: auto;
    display: block;
    margin: 0 50px;
    text-align: center;
}
#logo{
    float: right;
    width: auto;
    display: block;
    margin: 0 50px;
    text-align: center;
}
#header h1{
    text-transform: uppercase;
    margin: 0;
}
#header span{
    text-transform: uppercase;
}

#Presentacion, #todo, #Final{
    text-align: center;
    position: relative;
    float: left;
    margin: 5% 10%;
    background-color:rgba(0, 0, 0, 0.5);
    width: 80%;
}
#Presentacion #titulo h2{
    margin: 0;
    
}
#Presentacion #titulo span{
    font-size: 0.75em;
}

#Exposicion, #Master, #instrucciones, #informacion, #Despedida{
    text-align: justify;
    width: 80%;
    margin: auto;
}
#ins{
    width:20%;
    text-align: center;
    margin:auto;

}
#ins h3 a{
    text-align: center;
    text-decoration: none;
    border: solid 2px red; 
    border-radius: 0.5em;
}

#ins h3 a:link{
    color:white;
}
#ins h3 a:hover{
    background-color: red;
}
#ins h3 a:visited{
    color: white;
}

#formulario{
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 1% 10% 5% 10%;
    text-decoration: none;
}
.pregunta{
    border: 0.2em;
    border-style: solid;
    border-radius: .5em;
    border-color: grey;
    width: 80%;
    margin: 0 152.250px 2% 152.34px;
    background-color: rgba(0, 0, 0, 0.5);

}
input[type = 'text']{	
	font-family: 'Varela Round', Arial, sans-serif;
	font-size: 1.2em;
}
.title {
	font-size: 1.1em;
}
.tit {	
	font-size: 1.14em;
}
input[type = 'checkbox']{  
    margin-top: 2%;
    font-size: 1.2em;
}
input[type = 'radio']{  
	margin-top: 2%;
}
select {
	font-family: 'Varela Round', Arial, sans-serif;
	background-color: white;
	font-size: 1.2em;
}
#mult, #mult2 {	
    padding: 1% 1%;
}
option {
	margin-bottom: 2%;
	font-size: 1em;
}
label {
	font-size: 1.2em;
}
#submit {
	text-align: center;
	
}
#botonSubmit {
    background-color: #229a65;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #229a65;
	border-style: solid;
    font-size: 16px;
	border-radius: 10px;
	border-color: #333333;
	border-width: 2px;
}
#botonSubmit:hover {
	background-color: #bacc51;
}
#crono {
	z-index: 5;
	position: fixed;
	top: 17%;
	right: 10%;
	width: 5%;
	height: 3%;
	background-color:rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-color: #333333;
	border-width: 5px;
	border-radius: 10px;
	font-size: 2em;
	color:white;
}

#cronoN {
	position: absolute;
	top: 18.5%;
    right: 2%;
}
#nota {
    border: 0.2em;
    border-style: solid;
    border-radius: .5em;
    border-color: grey;
    width: 80%;
    margin: 0 152.250px 2% 152.34px;
    background-color: rgba(0, 0, 0, 0.5);
}
#tit {
	padding: 0.5%;
}
.fa-check:before {
    content: "\f00c";
    color: mediumseagreen;
}
.fa-times:before {
    content: "\f00c";
    color: red;
}

#video{
    text-align: center;
}
footer{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin:25% 0 0 0 ;
    background-color:rgba(0, 0, 0, 0.5);
}
footer p{
    width: 30%;
    margin:0;
    display: inline-block;
}

#personal, #adicional{
    display: inline-block;
    margin: 0 5%;

}
footer #personal ul li{
    margin: 5% 0;
}
footer #adicional ul li{
    margin: 15.031px 0;
    width: 100%;

}
footer ul li a{
    text-decoration: none;
    color: aliceblue;
}
#adicional ul li a{
    border: solid 2px red;
    border-radius: 0.5em;
    padding: 5% 0;
}
#personal ul li a:hover{
    color: red;
}
#adicional ul li a:hover{
    background-color: red;
}